<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<div class="card deposit-card" th:fragment="deposit-card">
		<div class="card-body">
			<form action="#" th:action="@{/transact/deposit}" method="post" class="deposit-form">
				<div class="form-group mb-2">
					<label>Enter Deposit Amount</label>
					<input type="text" name="amount" class="form-control" placeholder="Enter Deposit Amount">
				</div>

				<div class="form-group">
					<label>Select Account</label>
					<select name="accountToId" class="form-control">
						<option value="">-- Select Account --</option>
						<option th:each="acc : ${userAccounts}" th:object="${acc}"
						        th:value="*{id}"
						        th:text="*{accountName}">Account name
						</option>
					</select>
				</div>

				<div class="form-group mb-2">
					<button class="btn btn-md transact-btn my-2">Deposit</button>
				</div>
			</form>
		</div>
	</div>
</html>