<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<div class="card transfer-card" th:fragment="transfer-card">
		<div class="card-body">
			<form th:action="@{/transact/transfer}" method="post">
				<div class="form-group">
					<label>Select Account</label>
					<select name="accountFromId" class="form-control">
						<option value="">-- Select Account --</option>
						<option th:each="acc : ${userAccounts}" th:object="${acc}"
						        th:value="*{id}"
						        th:text="*{accountName}">Account name
						</option>
					</select>
				</div>

				<div class="form-group">
					<label>Select Account</label>
					<select name="accountToId" class="form-control">
						<option value="">-- Select Account --</option>
						<option th:each="acc : ${userAccounts}" th:object="${acc}"
						        th:value="*{id}"
						        th:text="*{accountName}">Account name
						</option>
					</select>
				</div>


				<div class="form-group mb-2">
					<label>Enter Transfer Amount</label>
					<input type="text" name="amount" class="form-control" placeholder="Enter Transfer Amount">
				</div>

				<div class="form-group mb-2">
					<button class="btn btn-md transact-btn">Transfer</button>
				</div>
			</form>
		</div>
	</div>
</html>