<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" th:fragment="transact-offcanvas">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title text-white" id="offcanvasExampleLabel">Transact</h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<small class="card-text text-white">
				Choose an option below to perform a transaction
			</small>

			<select name="transact-type" class="form-control my-3" id="transact-type">
				<option value="">-- Select transaction type --</option>
				<option value="payment">Payment</option>
				<option value="transfer">Transfer</option>
				<option value="deposit">Deposit</option>
				<option value="withdraw">Withdraw</option>
			</select>

			<!-- Payment card -->
			<div th:replace="~{fragments/transact_forms/payment_form::payment-card}"></div>
			<!-- Transfer card -->
			<div th:replace="~{fragments/transact_forms/transfer_form::transfer-card}"></div>
			<!-- Deposit card -->
			<div th:replace="~{fragments/transact_forms/deposit_form::deposit-card}"></div>
			<!-- Withdraw card -->
			<div th:replace="~{fragments/transact_forms/withdraw_form::withdraw-card}"></div>
		</div>
	</div>
</html>