<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<header class="main-page-header mb-3 bg-primary" th:fragment="header">
		<div class="container d-flex align-items-center">
			<a href="#" th:href="@{/}" class="btn text-white">
				<div class="company">
					<div class="company-icon">
						<ion-icon class="icon" name="globe-outline"></ion-icon>
					</div>
					<div class="company-name">
						Easy-Way Bank
					</div>
				</div>
			</a>

			<nav class="navigation">
				<li><a href="#" th:href="@{/app/dashboard}">Dashboard</a></li>
				<li><a href="#" th:href="@{/app/payment-history}">Payment History</a></li>
				<li><a href="#" th:href="@{/app/transact-history}">Transaction History</a></li>
			</nav>

			<div class="display-name ms-auto text-white">
				<div class="display-name-icon">
					<ion-icon name="ellipse" class="icon text-success me-2"></ion-icon>
				</div>
				<div class="display-name-username">
					<span th:text="|Welcome ${user.first_name} ${user.last_name}|">John Smith</span>
				</div>
			</div>

			<a href="#" th:href="@{/logout}" class="btn btn-sm text-white ms-2">
				<div class="logout">
					<div class="logout-icon">
						<ion-icon class="icon" name="log-out-outline" aria-hidden="true"></ion-icon>
					</div>
					<div class="logout-text">
						Sign Out
					</div>
				</div>
			</a>
		</div>
	</header>
</html>