<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../static/css/fontawesome/css/all.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body class="d-flex align-items-center">
    <div id="sample-text-card" class="card col-6 bg-transparent border-0">
        <div class="card-body">
            <h1 class="mb-3">Easy-Way Bank</h1>
            <h5 class="card-title">
                Flexible Banking Solutions
            </h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam veniam, accusantium non culpa sapiente veritatis amet sit quis, perferendis impedit aliquid cum ipsum consequuntur in voluptatum. Repudiandae maiores iusto ex cumque laborum minus. Ducimus voluptatibus voluptatum iure veniam quaerat culpa tempora enim dolorum maxime voluptates! Autem perferendis dolorum accusantium! Totam.
            </p>
            <div class="button-wrapper d-flex align-items-center">
                <a href="#" class="btn btn-md register" role="button">Register</a>
                <a href="#" class="btn btn-md login" role="button">Login</a>
            </div>
        </div>
    </div>
</body>
</html>