<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous"
        >
        <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
        <title>Dashboard</title>
    </head>
    <body>
        <!-- Header -->
        <div th:replace="~{fragments/common/header::header}"></div>

        <div class="container">
            <table class="table text-center">
                <tr>
                    <th>Record Number</th>
                    <th>Beneficiary</th>
                    <th>Beneficiary Account Number</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Reference</th>
                    <th>Reason code</th>
                    <th>Created at</th>
                </tr>
                <tr th:each="payment : ${paymentHistory}" th:object="${payment}">
                    <td th:text="*{id}">1</td>
                    <td th:text="*{beneficiary}">John Smith</td>
                    <td th:text="*{beneficiaryAccNo}">00111122223333444455556666</td>
                    <td th:text="*{amount}"></td>
                    <td th:text="*{status}"></td>
                    <td th:text="*{reference}"></td>
                    <td th:text="*{reasonCode}"></td>
                    <td th:text="*{createdAt}"></td>
                </tr>
            </table>
        </div>

        <!-- Footer -->
        <div th:replace="~{fragments/common/footer::footer}"></div>
    </body>
</html>