<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous"
        >
        <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
        <title>Transact History</title>
    </head>
    <body>
        <!-- Header -->
        <div th:replace="~{fragments/common/header::header}"></div>

        <div class="container">

            <div class="header">
                Historia transakcji
            </div>


            <div class="tab-head" >
                <div class="text">
                    <span class="date">Data</span>
                    <span class="category">Kategoria</span>
                    <span class="description">Opis</span>
                    <span class="amount">Kwota</span>
                </div>
            </div>

            <div class="accordion accordion-flush" id="accordionFlushExample" th:remove="all-but-first">
                <div class="accordion-item" th:each="transaction, i : ${transactHistory}" th:object="${transaction}">
                    <h2 class="accordion-header"  id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                th:attr="data-bs-target='#flush-'+*{transactionId}, aria-controls='flush-'+*{transactionId}"
                                aria-expanded="false" aria-controls="flush-collapseOne"
                                th:style="${i.count % 2 eq 0 ? 'background-color: white' : 'background-color: #F4F4F4FF'}"
                        >
                        <span class="text">
                            <span class="date" th:text="*{#temporals.format(createdAt, 'dd.MM.yyyy')}">10.01.2023</span>
                            <span class="category">
                                <ion-icon th:if="*{transactionType eq 'transfer' && status eq 'success'}" class="cat-icon-transfer" name="swap-horizontal-outline"></ion-icon>
                                <ion-icon th:if="*{transactionType eq 'payment' && status eq 'success'}" class="cat-icon-payment" name="card"></ion-icon>
                                <ion-icon th:if="*{transactionType eq 'withdraw' && status eq 'success'}" class="cat-icon-withdraw" name="remove-circle"></ion-icon>
                                <ion-icon th:if="*{transactionType eq 'deposit' && status eq 'success'}" class="cat-icon-deposit" name="add-circle"></ion-icon>
                                <ion-icon th:if="*{status eq 'failed'}" class="cat-icon-failed" style name="alert-circle"></ion-icon>
                                <span class="cat-text" th:text="*{transactionType}">Transfer</span>
                            </span>
                            <span class="description" th:if="*{transactionType eq 'transfer'}" th:text="|Przelew własny - *{account_name}|">Description</span>
                            <span class="description" th:if="*{transactionType eq 'withdraw'}" th:text="|Wypłata środków - *{account_name}|">Description</span>
                            <span class="description" th:if="*{transactionType eq 'deposit'}" th:text="|Wpłata - *{account_name}|">Description</span>
                            <span class="description" th:if="*{transactionType eq 'payment'}" th:text="|*{beneficiary}|">Description</span>
                            <span class="amount" th:style="${transaction.amount lt 0 ? 'color: #0d6efb' : 'color: black'}">
                                    <span>
                                        <span th:text="*{amount.toString().replace('.',',')}">340.00</span> <span class="currency" th:text="*{currency}">PLN</span>
                                    </span>
                                </span>
                        </span>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" th:id="|flush-*{transactionId}|" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample"
                    >
                        <div class="accordion-body">

                            <div class="main">
                                <div class="user-data">
                                    <h5>Dane płatnika</h5>
                                    <div>
                                        <span class="title">Z rachunku:</span><br>
                                        <span th:text="*{account_number}">47 1050 0028 2100 0023 0315 0001</span>
                                    </div>
                                    <div>
                                        <span class="title">Nazwa i adres:</span><br>
                                        <span th:text="|*{first_name} *{last_name}|">Agata Nowak</span><br>
                                        <span th:text="*{street}">ul. Astrów 12/1</span><br>
                                        <span th:text="|*{zip_code} *{city}|">40-748 Katowice</span>
                                    </div>
                                </div>

                                <div class="beneficiary-data" th:if="*{transactionType eq 'payment'}">
                                    <h5>Dane Odbiorcy</h5>
                                    <div>
                                        <span class="title">Na rachunek:</span><br>
                                        <span th:text="*{beneficiaryAccNo}">52 1050 0028 2100 0023 0315 0008</span>
                                    </div>
                                    <div>
                                        <span class="title">Nazwa i adres:</span><br>
                                        <span th:text="*{beneficiary}">Kino</span>
                                        <span>
                                                <br>ul. Anioła Franciszka 107<br>
                                                40-746 Katowice
                                        </span>
                                    </div>
                                </div>

                                <div class="transact-data">
                                    <h5>Dane transakcji</h5>
                                    <div>
                                        <span class="title">Tytuł:</span><br>
                                        <span th:if="*{transactionType eq 'payment'}" th:text="*{reference}">Opłata za bilety na seans</span>
                                        <span th:if="*{transactionType eq 'withdraw'}" th:text="|Wypłata środków - *{account_name}|">Opłata za bilety na seans</span>
                                        <span th:if="*{transactionType eq 'deposit'}" th:text="|Wpłata środków - *{account_name}|">Opłata za bilety na seans</span>
                                        <span th:if="*{transactionType eq 'transfer'}" th:text="|Przelew własny - *{account_name}|">Opłata za bilety na seans</span>

                                    </div>
                                    <div>
                                        <span class="title">Data transakcji:</span><br>
                                        <span th:text="*{#temporals.format(createdAt, 'd MMMM yyyy HH:mm')}">
                                            24.12.2022
                                        </span><br>
                                    </div>
                                    <div>
                                        <span class="title">Kwota transakcji:</span><br>
                                        <span th:text="*{amount.toString().replace('.',',')}">-28,00</span> <span class="currency" th:text="*{currency}">PLN</span><br>
                                    </div>
                                    <div>
                                        <span class="title">Rodzaj transakcji:</span><br>
                                        <span th:text="*{transactionType}">Przelew własny</span><br>
                                    </div>
                                    <div>
                                        <span class="title">Status:</span><br>
                                        <span th:text="*{status}">Zrealizowano</span><br>
                                    </div>
                                    <div th:if="*{status ne 'success'}">
                                        <span class="title">Uzasadnienie:</span><br>
                                        <span th:text="*{reasonCode}">Brak środków na koncie</span><br>
                                    </div>
                                    <div>
                                        <span class="title">Numer transakcji:</span><br>
                                        <span th:text="*{transactionId}">77</span><br>
                                    </div>
                                </div>
                            </div>

                            <div class="buttons">
                                <a href="#">
                                    <ion-icon class="icon" name="document-text-outline"></ion-icon>
                                    <div class="pdf-text">
                                        Pobierz jako PDF
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                aria-expanded="false" aria-controls="flush-collapseTwo"
                        >
                        <span class="text">
                            <span class="date">10.01.2023</span>
                            <span class="category">
                                <ion-icon class="cat-icon" name="swap-horizontal-outline"></ion-icon>
                                <span class="cat-text">Transfer</span>
                            </span>
                            <span class="description">Description</span>
                            <span class="amount">340.00</span>
                        </span>
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample"
                    >
                        <div class="accordion-body">

                            <div class="main">
                                <div class="user-data">
                                    <h5>Dane płatnika</h5>
                                    <div>
                                        <span class="title">Z rachunku:</span><br>
                                        <span>47 1050 0028 2100 0023 0315 0001</span>
                                    </div>
                                    <div>
                                        <span class="title">Nazwa i adres:</span><br>
                                        <span>Agata Nowak</span><br>
                                        <span>ul. Astrów 12/1</span><br>
                                        <span>40-748 Katowice</span>
                                    </div>
                                </div>

                                <div class="beneficiary-data">
                                    <h5>Dane Odbiorcy</h5>
                                    <div>
                                        <span class="title">Na rachunek:</span><br>
                                        <span>52 1050 0028 2100 0023 0315 0008</span>
                                    </div>
                                    <div>
                                        <span class="title">Nazwa i adres:</span><br>
                                        <span>Kino</span><br>
                                        <span>ul. Anioła Franciszka 107</span><br>
                                        <span>40-7463 Katowice</span>
                                    </div>
                                </div>

                                <div class="transact-data">
                                    <h5>Dane transakcji</h5>
                                    <div>
                                        <span class="title">Tytuł:</span><br>
                                        <span>Opłata za bilety na seans</span>
                                    </div>
                                    <div>
                                        <span class="title">Data transakcji:</span><br>
                                        <span>24.12.2022</span><br>
                                    </div>
                                    <div>
                                        <span class="title">Kwota transakcji:</span><br>
                                        <span>-28,00</span><br>
                                    </div>
                                    <div>
                                        <span class="title">Rodzaj transakcji:</span><br>
                                        <span>Przelew własny</span><br>
                                    </div>
                                    <div>
                                        <span class="title">Status:</span><br>
                                        <span>Zrealizowano</span><br>
                                    </div>
                                    <div>
                                        <span class="title">Numer transakcji:</span><br>
                                        <span>77</span><br>
                                    </div>
                                </div>
                            </div>

                            <div class="buttons">
                                <a href="#">
                                    <ion-icon class="icon" name="document-text-outline"></ion-icon>
                                    <div class="pdf-text">
                                        Pobierz jako PDF
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div th:replace="~{fragments/common/footer::footer}"></div>
    </body>
</html>