@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: rgb(211, 217, 226);
}

.container {
    /*alignment: center;*/
    /*margin: 10px 0;*/
}

.main-page-header {
    padding: 10px 0;
}

/*LOGO AND COMPANY NAME START*/
.main-page-header .company {
    font-weight: 600;
    color: #fff;
    display: flex;
    vertical-align: center;
}

.company .company-icon {
    color: #fff;
    display: flex;
    vertical-align: center;
}

.company-icon .icon {
    font-size: 2em;
    height: 100%;
}

.company-name {
    display: flex;
    align-items: center;
}
/*LOGO AND COMPANY NAME END*/

.navigation {
    /*border: 1px solid #fff;*/
    margin-left: 20px;
}

.navigation li {
    display: inline-block;
    list-style-type: none;
    margin: 0 15px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

/*WELCOME START*/
.display-name {
    display: flex;
    vertical-align: center;
}

.display-name-icon .icon {
    margin: 0 5px;
    height: 100%;
}

.display-name-username {
    display: flex;
    align-items: center;
}

.display-name-username span {
    text-align: center;
}

.display-name i {
    font-weight: 600;
}
/*WELCOME END*/

/*SIGN OUT START*/
.logout {
    display: flex;
    vertical-align: center;
}

.logout-icon {
    font-size: 1.4em;
    margin: 0 5px;
}

.logout-text {
    display: flex;
    align-items: center;
}

.logout-icon .icon {
    height: 100%;
}
/*SIGN OUT END*/


#transact-btn {
    background-color: #ffb114;
    border: 1px solid #543800
}

#add-account-btn {
    background-color: #ff4e00;
    border: 1px solid #8b2800;
    color: #fff;
}

.offcanvas {
    background-image: url('../images/offcanvas_bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.transact-btn {
    background-color: #ff4e00;
    border: 1px solid #8b2800;
    color: #fff;
}

.payment-card,
.transfer-card,
.deposit-card,
.withdraw-card {
    display: none;
}

/*LIST HEADER START*/
.accordion-header button .text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.accordion-header button .date-desc {
    justify-content: space-between;
}

.accordion-header button .date,
.accordion-header button .desc {
    margin: 0 10px;
}

.accordion-header button .amount {
    padding: 0 10px;
}
/*LIST HEADER END*/