@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
}

.container {
    /*alignment: center;*/
    /*margin: 10px 0;*/
}

.main-page-header {
    padding: 10px 0;
}

/*LOGO AND COMPANY NAME START*/
.main-page-header .company {
    font-weight: 600;
    color: #fff;
    display: flex;
    vertical-align: center;
}

.company .company-icon {
    color: #fff;
    display: flex;
    vertical-align: center;
}

.company-icon .icon {
    font-size: 2em;
    height: 100%;
}

.company-name {
    display: flex;
    align-items: center;
}
/*LOGO AND COMPANY NAME END*/

.navigation {
    /*border: 1px solid #fff;*/
    margin-left: 20px;
}

.navigation li {
    display: inline-block;
    list-style-type: none;
    margin: 0 15px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

/*WELCOME START*/
.display-name {
    display: flex;
    vertical-align: center;
}

.display-name-icon .icon {
    margin: 0 5px;
    height: 100%;
}

.display-name-username {
    display: flex;
    align-items: center;
}

.display-name-username span {
    text-align: center;
}

.display-name i {
    font-weight: 600;
}
/*WELCOME END*/

/*SIGN OUT START*/
.logout {
    display: flex;
    vertical-align: center;
}

.logout-icon {
    font-size: 1.4em;
    margin: 0 5px;
}

.logout-text {
    display: flex;
    align-items: center;
}

.logout-icon .icon {
    height: 100%;
}
/*SIGN OUT END*/


#transact-btn {
    background-color: #ffb114;
    border: 1px solid #543800
}

#add-account-btn {
    background-color: #ff4e00;
    border: 1px solid #8b2800;
    color: #fff;
}

.offcanvas {
    background-image: url('../images/offcanvas_bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.transact-btn {
    background-color: #ff4e00;
    border: 1px solid #8b2800;
    color: #fff;
}

.payment-card,
.transfer-card,
.deposit-card,
.withdraw-card {
    display: none;
}

/*HEADER START*/
.header {
    font-size: 2.5rem;
    font-weight: 300;
}
/*HEADER END*/

/*LIST HEADER AND ROW START*/
.tab-head {
    padding: 16px 40px 0 20px;
    font-weight: 300;
    color: #0d6efb;
}

.tab-head .text,
.accordion-header button .text {
    padding: 10px 0;
    width: 100%;
    display: flex;
}

.accordion-header button .text {
    font-weight: 500;
}

.tab-head .amount,
.accordion-header button .amount {
    margin: 0 10px;
    min-width: 120px;
    width: 15%;
    text-align: right;
    display: inline-flex;
    /*background-color: #8eb2e7;*/
    flex-direction: column;
    justify-content: start;
}

.tab-head .date,
.accordion-header button .date {
    min-width: 95px;
    display: inline-flex;
    /*background-color: red;*/
    flex-direction: column;
    justify-content: center;
}

.tab-head .description,
.accordion-header button .description {
    padding: 0 10px;
    text-align: left;
    width: 100%;
    display: inline-flex;
    /*background-color: green;*/
    flex-direction: column;
    justify-content: center;
}

.tab-head .category,
.accordion-header button .category {
    padding: 0 10px;
    min-width: 120px;
    display: inline-flex;
    /*background-color: yellow;*/
}

.category .cat-icon-success {
    color: #7aa541;
    font-size: 2rem;
    height: 100%;
}

.category .cat-icon-failed {
    color: red;
    font-size: 2rem;
    height: 100%;
}

.category .cat-icon-transfer {
    color: #7aa541;
    font-size: 2rem;
    height: 100%;
}

.category .cat-icon-payment {
    color: #0d6efb;
    font-size: 2rem;
    height: 100%;
}

.category .cat-icon-withdraw {
    color: #f1da08;
    font-size: 2rem;
    height: 100%;
}

.category .cat-icon-deposit {
    color: #7aa541;
    font-size: 2rem;
    height: 100%;
}

.category .cat-text {
    font-size: 0.8rem;
    font-weight: 300;
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
/*LIST HEADER AND ROW END*/

.currency {
    font-size: .7rem;
    font-weight: 400;
    /*background-color: white;*/
    vertical-align: baseline;
}

/*LIST BODY START*/
.accordion-body {
    padding: 0 1.25rem;
}

.accordion-body .main {
    display: flex;
    border-bottom: 1px dashed lightgray;
}

.accordion-body .buttons {
    display: flex;
}

.accordion-body h5 {
    font-weight: 300;
    margin: 15px 0;
    width: 100%;
}

.main div {
    margin: 10px 0;
}

.buttons a {
    display: flex;
    padding: 7px 15px;
    margin: 7px;
    text-decoration: none;
    font-weight: 300;
    color: #0d6efb;
}

.buttons a:hover {
    font-weight: 400;
    text-decoration: underline dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.buttons .icon {
    height: 100%;
    justify-content: center;
    margin: 0 5px;
    font-size: 1.3rem;
}

.user-data,
.beneficiary-data,
.transact-data {
    width: 100%;
    display: block;
}

.title {
    font-size: 0.9rem;
    font-weight: 600;
}
/*LIST BODY END*/







/*DISPLAY ACCOUNT START*/
.dashboard {
    display: flex;
    flex-wrap: wrap;
    /*background-color: cadetblue;*/
    /*height: 700px;*/
}
.main-content {
    width: 800px;
    min-width: 400px;
    padding-right: 15px;
    border-right: 1px solid lightgray;
    /*background-color: orange;*/

}
.planned-history {
    width: 300px;
    /*background-color: #ff4e00;*/
}

.today {
    width: 100%;
    border-bottom: 1px solid lightgray;

    /*background-color: #8b2800;*/
}
.today-header {
    /*height: 100%;*/
    width: 100%;
    display: inline-flex;
    /*background-color: #7aa541;*/
}
.header-title {
    width: 100%;
    height: 100%;
    /*background-color: #f1da08;*/
    display: flex;
    align-self: center;
    font-size: 1.75rem;
    font-weight: 400;
}

.header-icon {
    min-width: 40px;
    font-size: 1.6rem;
    /*background-color: #3e61f1;*/
    display: flex;
    align-self: center;
}

.today-funds {
    /*height: 300px;*/
    /*background-color: pink;*/
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.funds-1 {
    /*background-color: purple;*/
    height: 100%;
    width: 50%;
    border-right: 1px dashed lightgray;
}
.funds-2 {
    /*height: 100%;*/
    width: 50%;
    /*background-color: aqua;*/
}

.main-account {
    height: 400px;
    /*background-color: white;*/
    display: flex;
}

.funds-1 .main-account {
    justify-content: center;
    vertical-align: center;
}

.funds-2 .main-account {
    width: 260px;
    flex-wrap: wrap;
    margin: 0 70px;
}



.square-big {
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: #0d6efb;
    border-radius: 33px;
}
.square-big a {
    height: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    border-radius: 33px;
    /*background-color: green;*/
}
.square-big a:hover,
.square-small a:hover{
    cursor: pointer;
}
.square-big i {
    font-size: 2.7rem;
}
.square-big a .square-amount {
    font-size: 1.4rem;
}
.square-big a .square-acc-name {
    font-size: 0.9rem;
    font-weight: 300;
}

.fund {
    width: 130px;
    padding: 10px;
    /*height: 200px;*/
    /*background-color: pink;*/
    /*display: flow;*/
}

.square-small {
    margin: 5px;
    width: 100px;
    height: 100px;
    /*background-color: #0d6efb;*/
    color: #0d6efb;
    border: 3px solid #0d6efb;
    border-radius: 25px;
}
.square-small a {
    height: 100%;
    color: inherit;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    border-radius: 25px;
    /*background-color: green;*/
}
.square-small i {
    font-size: 1.35rem;
}

.sq-sm-desc {
    /*background-color: #7aa541;*/
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    text-align: center;
}

.filled {
    color: #fff;
    background-color: #0d6efb;
}


.sum {
    /*height: 50px;*/
    display: flex;
    margin-bottom: 15px;
    /*background-color: blue;*/
}

.sum-amount {
    width: 61.8%;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: right;
    color: #0d6efb;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px dashed lightgray;
    /*background-color: #7aa541;*/
}
.sum-desc {
    width: 38.2%;
    min-width: 100px;
    color: gray;
    /*background-color: brown;*/
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sum-desc i {
    display: flex;
    /*background-color: red;*/
}

.planned {
    background-color: red;
}
.history {
    background-color: #7aa541;
}
/*DISPLAY ACCOUNT END*/